<center><h1><strong>PLAYA!</strong></h1></center>
<form id ="login" action='/login' method='post' class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input name="username" type="username" class="form-control" id="inputUsername" placeholder="Enter username">
    </div>
  </div></p>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button name="submit" type="submit" value="login" class="btn btn-default">get rich or die trying</button>
    </div>
  </div>
</form>
