th {
  text-align: left;
}

body {
  background-color: yellow;
}

.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 0px 0px 0px;
}

.left_stuff{
  float: left;
}

.right_stuff{
  float: right;
  padding-top: 15px;
}

.wins, .player_1 {
  float: left;
  border-right: 5px solid yellow;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 350px;
  text-align: center;
  background-color: white;
}

.wins, .player_1 h1 {
  text-align: center;
}

.total, .player_2 {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 350px;
  text-align: center;
  background-color: white;
}

.total, .player_2 h1 {
  text-align: center;
}

#logout {
 display: inline;
}


.button {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.button span {
  display: inline-block;
  width: 700px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.button:hover span {
  background-color: cyan;
  color: white;
  font-weight: bold;
}



/*******tic-tac-toe******/
#main_container {
  margin: 10px auto;
  width: 700px;
}

table {
  margin: 0px auto;
}

.box_cell {
  background-color: #FFFFCC;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.hover {
  background-color: #FEFCFF;
}

.red {
  background-color: #F52887;
}

.blue {
  background-color: #16EAF5;
}
/*******tic-tac-toe END******/