<div class="container">
  <div class="player_1">
    <h1><%= Player.find(session[:player_id]).username %></h1><p>
    <h2>5</h2>
  </div>

  <div class="player_2">
    <h1><%= Player.find(session[:player_id]).username %></h1><p>
    <h2>13</h2>
  </div>
</div>

<br>
<div id="game_board">
  <div id="main_container">
    <table>
      <tbody>
        <tr class="box_row" >
          <td id="box_0_0" class="box_cell" data-row="0" data-col="0"></td>

          <td id="box_0_1" class="box_cell" data-row="0" data-col="1"></td>

          <td id="box_0_2" class="box_cell" data-row="0" data-col="2"></td>
        </tr>
        <tr class="box_row">
          <td id="box_1_0" class="box_cell" data-row="1" data-col="0"></td>

          <td id="box_1_1" class="box_cell" data-row="1" data-col="1"></td>

          <td id="box_1_2" class="box_cell" data-row="1" data-col="2"></td>
        </tr>
        <tr class="box_row">
          <td id="box_2_0" class="box_cell" data-row="2" data-col="0"></td>

          <td id="box_2_1" class="box_cell" data-row="2" data-col="1"></td>

          <td id="box_2_2" class="box_cell" data-row="2" data-col="2"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>