<div class="container">
  <div class="wins">
    <h1>total wins</h1><p>
    0
  </div>

  <div class="total">
    <h1>total games played</h1><p>
    0
  </div>
</div>

<a href="#" class="button">
  <span>start new game</span>
</a>