<div class="container">
  <div class="wins">
    <h1>total wins</h1><p>
    <h2>0</h2>
  </div>

  <div class="total">
    <h1>total games played</h1><p>
    <h2>0</h2>
  </div>
</div>

<form action="/games" method="post" class="button">
  <input type="hidden" name="player_1_id" value="<%= @player.id %>">
  <button value="submit">
    <span>start new game</span>
  </button>
</form>